<mat-card>
  <h1>Add Student</h1>
  <form #studentForm="ngForm">
    <div class="example-container">
      <p>
        <mat-form-field>
          <mat-label>Math Average</mat-label>
          <input matInput placeholder="Math Average" [(ngModel)]="math" name="math" type="number" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>SAT Grade</mat-label>
          <input matInput placeholder="SAT grade" [(ngModel)]="sat" name="sat" type="number" required>
        </mat-form-field>
      </p>
      <div>
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="pay" (change)="pay=!pay" required>Has Paid?</mat-checkbox>
        </section>
      </div>
      <div *ngIf="!!result">
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedOption" name="option">
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>

    </div>
      <div>
        <button *ngIf="!result" mat-raised-button color="primary" (click)="predict()">Predict</button>
        <button *ngIf="!!result" mat-raised-button (click)="addStudent()" color="primary">
          Save
        </button>
        <button *ngIf="!!result" mat-raised-button (click) = "result = ''">
          Cancel
        </button>
        <div>
          {{result}}
        </div>
      </div>
    </div>
  </form>
</mat-card>