<table mat-table [dataSource]="students" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef> Math </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.math}}</span>  
      </td>
    </ng-container>
  
    <!-- Years Column -->
    <ng-container matColumnDef="sat">
      <th mat-header-cell *matHeaderCellDef> SAT Grade </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.sat}}</span> 

      </td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef> Pay </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{element.pay}}</span> 
        
      </td>
    </ng-container>
        
        <!-- result Column -->
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let element">
            <span [ngClass]="[element.result=='Will not drop' ? 'green' : 'red']">{{element.result}}</span>
          </td>
        </ng-container> 
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
            <span>{{element.email}}</span>
          </td>
        </ng-container> 

        <!-- Delete Column -->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          mat-raised-button
          color = 'warn'
          (click)="deleteStudent(element.id)"
        >
          Delete
        </button>                    
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  